#上传项目时过滤以下文件内容
#idea
*.iml
.idea/
*.ipr
*.iws
out/
#Junit
dmall-common/src/test/**
dmall-common/target/**
dmall-dao/src/test/**
dmall-dao/target/**
dmall-entity/src/test/**
dmall-entity/target/**
dmall-service/src/test/**
dmall-service/target/**
dmall-utils/src/test/**
dmall-utils/target/**
dmall-web/src/test/**
dmall-web/target/**